body.nightmode#chat-body {
    background-color: #1e1e1e;
    background-image: none;
    color: #ffffff;
}

body.nightmode #sidebar { color: #d0d0d0; }

body.nightmode a { color: #b2770a; }

body.nightmode a:hover { color: orange; }

body.nightmode .messages {
    -ms-border-radius: 4px;
    background-color: #3f3f46;
    border-radius: 4px;
    border-width: 0px;
    color: #ffffff;
}

body.nightmode #chat-body #searchbox { background-color: #3f3f46; }

body.nightmode #sidebar #info #roomtitle { text-shadow: 0px 1px 0px #666; }

body.nightmode .flair { color: #888; }

body.nightmode .message.neworedit {
    color: #ffffff;
    text-shadow: 0 0 8px white;
}

body.nightmode div#starred-posts > div > ul > li { border-bottom: 1px dotted #3f3f46; }

body.nightmode div.reply-parent,
body.nightmode div.reply-child { background-color: #55555e; }

body.nightmode .monologue.catchup-marker { border-top-width: 1px; }

body.nightmode .monologue.catchup-marker-1,
body.nightmode .monologue.catchup-marker-2,
body.nightmode .monologue.catchup-marker-3 { border-top-color: #3f3f46; }

body.nightmode .mention {
    background-color: inherit;
    color: orange;
    text-shadow: 0 0 16px orange;
}

body.nightmode .ob-post {
    background-color: inherit;
    color: #eee;
    padding: 0.8em 1.5em;
}

body.nightmode .ob-post a { color: #77ccFF !important; }

body.nightmode .ob-post a:hover { text-shadow: 0 0 16px #77ccFF; }

body.nightmode #info a { color: White; }

body.nightmode .monologue.mine .signature { text-shadow: 0 0 16px orange; }

body.nightmode .monologue.mine .messages { background-color: #494952; }

body.nightmode .ob-wikipedia, body.nightmode .ob-amazon, body.nightmode .ob-gist, body.nightmode .ob-message, body.nightmode .ob-lpadbug, body.nightmode .ob-manpage, body.nightmode .ob-blog, body.nightmode .ob-exception, body.nightmode .ob-anime {
    background-color: #494952;
    color: #fff;
}

body.nightmode #input-area {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

body.nightmode #input {
    background-color: black;
    border: 1px solid #444;
    color: #00ff00;
    text-shadow: 0 0 12px #0f0;
}

body.nightmode .monologue .timestamp {
    background-color: #222;
    color: #0f0;
}
