body.nightmode#chat-body {
    background-color: #1e1e1e;
    background-image: none;
    color: #ffffff;
}

body.nightmode #sidebar {
    color: #d0d0d0;
}

body.nightmode a {
    color: #b2770a;
}

    body.nightmode a:hover {
        color: orange;
    }

body.nightmode .messages {
    -ms-border-radius: 4px;
    border-radius: 4px;
    background-color: #3f3f46;
    color: #ffffff;
    border-width: 0px;
}

body.nightmode #chat-body #searchbox {
    background-color: #3f3f46;
}

body.nightmode #sidebar #info #roomtitle {
    text-shadow: 0px 1px 0px #666;
}

body.nightmode .flair {
    color: #888;
}

body.nightmode .message.neworedit {
    color: #ffffff;
    text-shadow: 0 0 8px white;
}


body.nightmode div#starred-posts > div > ul > li {
    border-bottom: 1px dotted #3f3f46;
}

body.nightmode div.reply-parent,
body.nightmode div.reply-child {
    background-color: #55555e;
}

body.nightmode .monologue.catchup-marker {
    border-top-width: 1px;
}

body.nightmode .monologue.catchup-marker-1,
body.nightmode .monologue.catchup-marker-2,
body.nightmode .monologue.catchup-marker-3 {
    border-top-color: #3f3f46;
}

body.nightmode .mention {
    background-color: inherit;
    color: orange;
    text-shadow: 0 0 16px orange;
}

body.nightmode .ob-post {
    padding: 0.8em 1.5em;
    background-color: inherit;
    color: #eee;
}

    body.nightmode .ob-post a {
        color: #77ccFF !important;
    }

        body.nightmode .ob-post a:hover {
            text-shadow: 0 0 16px #77ccFF;
        }


body.nightmode .info a {
    color: White;
}

body.nightmode .monologue.mine .signature {
    text-shadow: 0 0 16px orange;
}

body.nightmode .monologue.mine .messages {
    background-color: #494952;
}


body.nightmode .ob-wikipedia, .ob-amazon, .ob-gist, .ob-message, .ob-lpadbug, .ob-manpage, .ob-blog, .ob-exception, .ob-anime {
    background-color: #494952;
    color: #fff;
}

body.nightmode #input-area{
    background:inherit;
}

body.nightmode #input{
    background-color:black;
    color:#00ff00;
    text-shadow: 0 0 12px #0f0;
    border:1px solid #444;
}
